.actionButtons{
    display: flex;
    position: absolute;
    bottom: 15px;
    justify-content: center;
    right: 0;
    left: 0;
    gap: 20px;
    margin-top: 20px;
}

.selectTask{
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
}

.selectTask input{
    cursor: pointer;
}

.textLength{
    margin-top: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.textLengthItalic{
    text-decoration: line-through;
    margin-top: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.inProgresTask{
    height: 300px;
    background: #b8dc7d;
}

.timedOut{
    height: 300px;
    background: #e49367;
}

.taskIsDone{
    color: grey;
    font-style: italic;
    height: 300px;
    background: #e7e794;
}

.blueShadow{
    box-shadow: rgba(6, 128, 144, 0.35) 15px 10px 5px;
}